{% from "../components/Button/Button.njk" import Button %}
{% from "../components/Card/Card.njk" import Card %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/{{ manifest.css }}">

</head>
<body>
    {{ Button({
        text: 'Click Me', 
        type: 'default'
    }) }}
    {{ Button({
        text: 'Click Me', 
        type: 'primary'
    }) }}
    {{ Button({
        text: 'Click Me', 
        type: 'danger'
    }) }}

    {{ Card({
        header: 'Card Header',
        body: 'This is the body of the card.',
        footer: 'Card Footer'
    }) }}

    <p>NODE_ENV: {{ process.env.NODE_ENV | dump() }}</p>

    {% if process.env.NODE_ENV === 'production' %}
        <script type="module" src="/scripts/{{ manifest.file }}"></script>
    {% else %}
        <script type="module" src="/@vite/client"></script>
        {# <script type="module" src="/src/index.js"></script> #}
    {% endif %}

</body>
</html>

